

<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css"
        integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA=="
        crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="~/css/site.css">

</head>

<body>

  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="@Url.Action("Index", "Home")" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          @if(User.Identity.IsAuthenticated)
           {
              var role = User.Claims.FirstOrDefault(c => c.Type.Equals("role")).Value;

              @if (role.Equals("STANDARD USER"))
              {
                  <li><a href=@Url.Action("Index", "Phonebook")>Agenda</a></li>
               }

              @if(role.Equals("ADMIN"))
               {
                  <li><a href=@Url.Action("Index", "ContactManagement")>Contatos</a></li>
                  <li><a href=@Url.Action("Index", "UserManagement")>Usuários</a></li>
                  <li><a href=@Url.Action("Index", "Interaction")>Interações</a></li>
               }

              <li><a href=@Url.Action("Logout", "Login")>LOG OUT</a></li>
            }
           else
            {
              <li><a href="@Url.Action("Index", "Login")">Login</a></li>
            }
        </ul>
      </div>
    </nav>

  </header>

  <main>
      @RenderBody()
  </main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  @await RenderSectionAsync("Scripts", required: false)

  @if(TempData.TryGetValue("toast", out var msg))
    {
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          M.toast({html: '@Html.Raw(msg)'});
        });
      </script>    
    }

</body>
</html>
