.mat-card-title {
  text-align: center;
  padding: 15px 0px 15px 0px;
}

.mat-card {
  height: 48vh;
  width: 50vh;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.mat-card-actions {
  padding: 0px 8px 8px 0px;
}
  
